node_modules
dist
client-dist
.env
*.log
tsconfig.tsbuildinfo
dep_*.json
dep*.json
envs.json
*.json.tmp
agentapp.json
agentdeps.json
dashapp.json
metrics_check.json
server2_metrics*.json
prod1_*.json
